In [1]:
% matplotlib inline
import datetime as dt
import numpy as np
import pandas as pd

In [2]:
# Load the data
iowa = pd.read_csv("Iowa_Liquor_Sales_reduced.csv")
print iowa.columns

/Users/kainguyen/anaconda/lib/python2.7/site-packages/IPython/core/interactiveshell.py:2723: DtypeWarning: Columns (3) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

Index([u'Date', u'Store Number', u'City', u'Zip Code', u'County Number',
       u'County', u'Category', u'Category Name', u'Vendor Number',
       u'Item Number', u'Item Description', u'Bottle Volume (ml)',
       u'State Bottle Cost', u'State Bottle Retail', u'Bottles Sold',
       u'Sale (Dollars)', u'Volume Sold (Liters)', u'Volume Sold (Gallons)'],
      dtype='object')

In [3]:
iowa.head()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,03/31/2016,5029,DAVENPORT,52806,82.0,Scott,1022100.0,TEQUILA,370,87152,Avion Silver,375,$9.99,$14.99,12,$179.88,4.5,1.19
1,03/31/2016,5029,DAVENPORT,52806,82.0,Scott,1022100.0,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,$12.50,$18.75,2,$37.50,2.0,0.53
2,03/31/2016,4959,CEDAR FALLS,50613,7.0,Black Hawk,1071100.0,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,$5.97,$8.96,6,$53.76,10.5,2.77
3,03/31/2016,2190,DES MOINES,50314,77.0,Polk,1031200.0,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,$2.24,$3.36,48,$161.28,9.6,2.54
4,03/31/2016,5240,WEST BRANCH,52358,NaN,NaN,1081200.0,CREAM LIQUEURS,305,73055,Rumchata,750,$12.50,$18.75,6,$112.50,4.5,1.19

In [4]:
iowa.tail()

,Date,Store Number,City,Zip Code,County Number,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
2709547,01/05/2015,4696,WEST DES MOINES,50266,77.0,Polk,1031200.0,VODKA FLAVORED,205,40192,New Amsterdam Pineapple,375,$3.50,$5.25,6,$31.50,2.25,0.59
2709548,01/05/2015,2590,CEDAR RAPIDS,52402,57.0,Linn,1012200.0,SCOTCH WHISKIES,260,5346,Johnnie Walker Red,750,$14.25,$21.38,4,$85.52,3.00,0.79
2709549,01/05/2015,3631,AUDUBON,50025,5.0,Audubon,1081330.0,PEACH SCHNAPPS,65,82847,Dekuyper Peachtree,1000,$7.62,$11.43,2,$22.86,2.00,0.53
2709550,01/05/2015,2517,NEWTON,50208,50.0,Jasper,1071100.0,AMERICAN COCKTAILS,395,58868,Jose Cuervo Authentic Strawberry Margarita,1750,$8.20,$12.30,6,$73.80,10.50,2.77
2709551,01/05/2015,2643,WATERLOO,50701,7.0,Black Hawk,1012200.0,SCOTCH WHISKIES,260,5329,Johnnie Walker Blue,750,$130.00,$195.00,1,$195.00,0.75,0.20

In [5]:
iowa.describe()

,Store Number,County Number,Category,Vendor Number,Item Number,Bottle Volume (ml),Bottles Sold,Volume Sold (Liters),Volume Sold (Gallons)
count,2.709552e+06,2.698639e+06,2.708773e+06,2.709552e+06,2.709552e+06,2.709552e+06,2.709552e+06,2.709552e+06,2.709552e+06
mean,3.589071e+03,5.726086e+01,1.043826e+06,2.563901e+02,4.601624e+04,9.242111e+02,9.838390e+00,8.921504e+00,2.357017e+00
std,9.491083e+02,2.732565e+01,5.003493e+04,1.408757e+02,5.311268e+04,5.464858e+02,2.349863e+01,2.824435e+01,7.461356e+00
min,2.106000e+03,1.000000e+00,1.011100e+06,1.000000e+01,1.460000e+02,0.000000e+00,1.000000e+00,0.000000e+00,0.000000e+00
25%,2.604000e+03,3.100000e+01,1.012200e+06,1.150000e+02,2.682800e+04,7.500000e+02,2.000000e+00,1.500000e+00,4.000000e-01
50%,3.721000e+03,6.200000e+01,1.031200e+06,2.600000e+02,3.817600e+04,7.500000e+02,6.000000e+00,5.250000e+00,1.390000e+00
75%,4.382000e+03,7.700000e+01,1.062310e+06,3.800000e+02,6.460100e+04,1.000000e+03,1.200000e+01,1.050000e+01,2.770000e+00
max,9.023000e+03,9.900000e+01,1.701100e+06,9.780000e+02,9.992750e+05,2.250000e+05,3.960000e+03,3.960000e+03,1.046120e+03

In [6]:
iowa.dtypes

Date                      object
Store Number               int64
City                      object
Zip Code                  object
County Number            float64
County                    object
Category                 float64
Category Name             object
Vendor Number              int64
Item Number                int64
Item Description          object
Bottle Volume (ml)         int64
State Bottle Cost         object
State Bottle Retail       object
Bottles Sold               int64
Sale (Dollars)            object
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

#### Clean the data
##### Let's practice our data cleaning skills on the Project 3 dataset. If you don't remember how to do any of these tasks, look back at your work from the previous weeks or search the internet. There are many blog articles and Stack Overflow posts that cover these topics. You'll want to complete at least the following tasks:
###### *Remove redundant columns
###### *Remove dollar sign prices from characters and convert values to floats.
###### *Convert dates to pandas datetime objects
###### *Convert category floats to integers
###### *Drop or fill in bad values

In [7]:
# Remove redundant columns

iowa.drop('County Number', axis=1, inplace=True)
iowa.head()

,Date,Store Number,City,Zip Code,County,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,03/31/2016,5029,DAVENPORT,52806,Scott,1022100.0,TEQUILA,370,87152,Avion Silver,375,$9.99,$14.99,12,$179.88,4.5,1.19
1,03/31/2016,5029,DAVENPORT,52806,Scott,1022100.0,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,$12.50,$18.75,2,$37.50,2.0,0.53
2,03/31/2016,4959,CEDAR FALLS,50613,Black Hawk,1071100.0,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,$5.97,$8.96,6,$53.76,10.5,2.77
3,03/31/2016,2190,DES MOINES,50314,Polk,1031200.0,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,$2.24,$3.36,48,$161.28,9.6,2.54
4,03/31/2016,5240,WEST BRANCH,52358,NaN,1081200.0,CREAM LIQUEURS,305,73055,Rumchata,750,$12.50,$18.75,6,$112.50,4.5,1.19

In [8]:
iowa.drop('County', axis=1, inplace=True)
iowa.head()

,Date,Store Number,City,Zip Code,Category,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,03/31/2016,5029,DAVENPORT,52806,1022100.0,TEQUILA,370,87152,Avion Silver,375,$9.99,$14.99,12,$179.88,4.5,1.19
1,03/31/2016,5029,DAVENPORT,52806,1022100.0,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,$12.50,$18.75,2,$37.50,2.0,0.53
2,03/31/2016,4959,CEDAR FALLS,50613,1071100.0,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,$5.97,$8.96,6,$53.76,10.5,2.77
3,03/31/2016,2190,DES MOINES,50314,1031200.0,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,$2.24,$3.36,48,$161.28,9.6,2.54
4,03/31/2016,5240,WEST BRANCH,52358,1081200.0,CREAM LIQUEURS,305,73055,Rumchata,750,$12.50,$18.75,6,$112.50,4.5,1.19

In [9]:
iowa.drop('Category', axis=1, inplace=True)
iowa.head()

,Date,Store Number,City,Zip Code,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,03/31/2016,5029,DAVENPORT,52806,TEQUILA,370,87152,Avion Silver,375,$9.99,$14.99,12,$179.88,4.5,1.19
1,03/31/2016,5029,DAVENPORT,52806,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,$12.50,$18.75,2,$37.50,2.0,0.53
2,03/31/2016,4959,CEDAR FALLS,50613,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,$5.97,$8.96,6,$53.76,10.5,2.77
3,03/31/2016,2190,DES MOINES,50314,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,$2.24,$3.36,48,$161.28,9.6,2.54
4,03/31/2016,5240,WEST BRANCH,52358,CREAM LIQUEURS,305,73055,Rumchata,750,$12.50,$18.75,6,$112.50,4.5,1.19

In [10]:
# Remove "$" prices from characters and convert values to floats.

iowa['State Bottle Cost'] = iowa['State Bottle Cost'].map(lambda x: x.lstrip('$'))
iowa['State Bottle Retail'] = iowa['State Bottle Retail'].map(lambda x: x.lstrip('$'))
iowa['Sale (Dollars)'] = iowa['Sale (Dollars)'].map(lambda x: x.lstrip('$'))
iowa.head()

,Date,Store Number,City,Zip Code,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,03/31/2016,5029,DAVENPORT,52806,TEQUILA,370,87152,Avion Silver,375,9.99,14.99,12,179.88,4.5,1.19
1,03/31/2016,5029,DAVENPORT,52806,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,12.50,18.75,2,37.50,2.0,0.53
2,03/31/2016,4959,CEDAR FALLS,50613,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,5.97,8.96,6,53.76,10.5,2.77
3,03/31/2016,2190,DES MOINES,50314,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,2.24,3.36,48,161.28,9.6,2.54
4,03/31/2016,5240,WEST BRANCH,52358,CREAM LIQUEURS,305,73055,Rumchata,750,12.50,18.75,6,112.50,4.5,1.19

In [11]:
iowa[['State Bottle Cost', 'State Bottle Retail', 
      'Sale (Dollars)']] = iowa[['State Bottle Cost', 'State Bottle Retail', 'Sale (Dollars)']].astype(float)
iowa.head()

,Date,Store Number,City,Zip Code,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,03/31/2016,5029,DAVENPORT,52806,TEQUILA,370,87152,Avion Silver,375,9.99,14.99,12,179.88,4.5,1.19
1,03/31/2016,5029,DAVENPORT,52806,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,12.50,18.75,2,37.50,2.0,0.53
2,03/31/2016,4959,CEDAR FALLS,50613,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,5.97,8.96,6,53.76,10.5,2.77
3,03/31/2016,2190,DES MOINES,50314,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,2.24,3.36,48,161.28,9.6,2.54
4,03/31/2016,5240,WEST BRANCH,52358,CREAM LIQUEURS,305,73055,Rumchata,750,12.50,18.75,6,112.50,4.5,1.19

In [12]:
# Check to see that the changes to the columns above happened
iowa.dtypes

Date                      object
Store Number               int64
City                      object
Zip Code                  object
Category Name             object
Vendor Number              int64
Item Number                int64
Item Description          object
Bottle Volume (ml)         int64
State Bottle Cost        float64
State Bottle Retail      float64
Bottles Sold               int64
Sale (Dollars)           float64
Volume Sold (Liters)     float64
Volume Sold (Gallons)    float64
dtype: object

In [13]:
# Convert dates
iowa['Date']=pd.to_datetime(iowa['Date'], infer_datetime_format=True)
iowa.head()

,Date,Store Number,City,Zip Code,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons)
0,2016-03-31,5029,DAVENPORT,52806,TEQUILA,370,87152,Avion Silver,375,9.99,14.99,12,179.88,4.5,1.19
1,2016-03-31,5029,DAVENPORT,52806,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,12.50,18.75,2,37.50,2.0,0.53
2,2016-03-31,4959,CEDAR FALLS,50613,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,5.97,8.96,6,53.76,10.5,2.77
3,2016-03-31,2190,DES MOINES,50314,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,2.24,3.36,48,161.28,9.6,2.54
4,2016-03-31,5240,WEST BRANCH,52358,CREAM LIQUEURS,305,73055,Rumchata,750,12.50,18.75,6,112.50,4.5,1.19

In [14]:
iowa.dtypes

Date                     datetime64[ns]
Store Number                      int64
City                             object
Zip Code                         object
Category Name                    object
Vendor Number                     int64
Item Number                       int64
Item Description                 object
Bottle Volume (ml)                int64
State Bottle Cost               float64
State Bottle Retail             float64
Bottles Sold                      int64
Sale (Dollars)                  float64
Volume Sold (Liters)            float64
Volume Sold (Gallons)           float64
dtype: object

In [15]:
# Drop or replace bad values

pd.isnull(iowa).any(axis=0)

Date                     False
Store Number             False
City                     False
Zip Code                 False
Category Name             True
Vendor Number            False
Item Number              False
Item Description         False
Bottle Volume (ml)       False
State Bottle Cost        False
State Bottle Retail      False
Bottles Sold             False
Sale (Dollars)           False
Volume Sold (Liters)     False
Volume Sold (Gallons)    False
dtype: bool

##### At this point, I am not incline to drop or replace bad values such as NaNs or 0s. Theoretically, it is possible to do with .dropna or fillna functions, but the reasons I choose not to drop or replace NaN values are two-fold. First, replacement of NaN with any numerical value would skew the data and potentially cause outliers in the data. The idea of throwing a random number in or throwing the mean into a category like County Number would make the dataset non-sensical. Secondly, if we are willing to just randomly change the data like that just for columns that are missing data, then the data from those columns themselves are not as important to begin with. It is possible that as we progress in the course, we'll learn that NaN values are not good for the data set and why, and perhaps learn how to effectively replace them in a meaningful way, but as of this point, I am wary of altering the data in this manner.

#### Convert integers
##### It is possible to change float to integers with the following function: iowa['State Bottle Cost'] = iowa['State Bottle Cost'].astype(int). However, converting to integers would lead to inaccurate data because rounding is necessary to change a decimal number to an integer. I'm not sure that it is necessary for this assignment if I am concern about accurate and precise data for the purpose of modeling the line of best fit.

### Filter the Data
##### Some stores may have opened or closed in 2015. These data points will heavily skew our models, so we need to filter them out or find a way to deal with them. You'll need to provide a summary in your project report about these data points. You may also consider using the monthly sales in your model and including other information (number of months or days each store is open) in your data to handle these unusual cases. Let's record the first and last sales dates for each store. We'll save this information for later when we fit our models.

In [26]:
# Determine which stores were open all of 2015
# Find the first and last sales date.

iowa.sort_values(by=['Store Number','Date'])
iowa_piv = pd.pivot_table(iowa, index=['Store Number','Date'], values=['Sale (Dollars)'], aggfunc=np.sum, margins=True)
iowa_piv

                         Sale (Dollars)
Store Number Date
2106         2015-01-08    2.808791e+04
             2015-01-15    2.311285e+04
             2015-01-22    3.140371e+04
             2015-01-29    2.719101e+04
             2015-02-05    2.971284e+04
             2015-02-12    2.882480e+04
             2015-02-19    3.018414e+04
             2015-02-26    2.631923e+04
             2015-03-05    2.400246e+04
             2015-03-12    3.121786e+04
             2015-03-19    3.076347e+04
             2015-03-26    2.634625e+04
             2015-04-02    3.243289e+04
             2015-04-09    2.567054e+04
             2015-04-16    2.871546e+04
             2015-04-23    2.850853e+04
             2015-04-30    2.977532e+04
             2015-05-07    2.950836e+04
             2015-05-14    3.460667e+04
             2015-05-21    2.643489e+04
             2015-05-28    2.634610e+04
             2015-06-04    2.488275e+04
             2015-06-11    2.349765e+04
             2015-06-18    3.398946e+04
             2015-06-25    2.831558e+04
             2015-07-01    1.735166e+04
             2015-07-09    2.125487e+04
             2015-07-16    2.858748e+04
             2015-07-23    3.051646e+04
             2015-07-30    2.000274e+04
...                                 ...
9013         2015-06-04    1.990680e+03
             2015-08-04    2.331240e+03
             2015-09-03    1.989120e+03
             2015-10-01    2.108400e+03
             2015-11-05    1.227840e+03
             2015-11-19    1.949160e+03
             2015-12-01    1.377840e+03
             2015-12-02    5.404800e+03
             2015-12-10    5.456100e+03
             2015-12-15    7.804800e+02
             2015-12-29    2.308680e+03
             2016-01-20    1.495620e+03
             2016-02-11    1.202760e+03
             2016-02-25    1.147200e+03
             2016-03-09    1.723320e+03
             2016-03-23    2.086800e+02
             2016-03-28    4.137600e+02
9018         2015-10-27    2.182500e+04
9022         2015-02-05    3.992100e+03
             2016-02-25    6.514200e+02
9023         2015-02-12    3.166800e+03
             2015-03-04    2.216760e+03
             2015-06-30    6.333600e+02
             2015-07-20    6.333600e+02
             2015-08-26    6.333600e+02
             2015-09-30    6.333600e+02
             2015-12-16    6.333600e+02
             2016-01-04    6.333600e+02
             2016-03-08    6.333600e+02
All          NaT           3.498549e+08

[62008 rows x 1 columns]

#### Compute New Columns and Tables
##### Since we're trying to predict sales and/or profits, we'll want to compute some intermediate data. There are a lot of ways to do thisand good use of pandas is crucial. For example, for each transaction we may want to know: 
##### *margin, retail cost minus bottle cost, price per bottle, price per liter

In [17]:
# Margin and Price per liter
iowa['Margins'] = iowa['State Bottle Retail'] - iowa['State Bottle Cost']
iowa['Price/Liter'] = iowa['Sale (Dollars)'] / iowa['Volume Sold (Liters)']
iowa

,Date,Store Number,City,Zip Code,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Margins,Price/Liter
0,2016-03-31,5029,DAVENPORT,52806,TEQUILA,370,87152,Avion Silver,375,9.99,14.99,12,179.88,4.50,1.19,5.00,39.973333
1,2016-03-31,5029,DAVENPORT,52806,TEQUILA,395,89197,Jose Cuervo Especial Reposado Tequila,1000,12.50,18.75,2,37.50,2.00,0.53,6.25,18.750000
2,2016-03-31,4959,CEDAR FALLS,50613,AMERICAN COCKTAILS,380,63959,Uv Blue Raspberry Lemonade Pet,1750,5.97,8.96,6,53.76,10.50,2.77,2.99,5.120000
3,2016-03-31,2190,DES MOINES,50314,VODKA FLAVORED,205,40597,New Amsterdam Red Berry,200,2.24,3.36,48,161.28,9.60,2.54,1.12,16.800000
4,2016-03-31,5240,WEST BRANCH,52358,CREAM LIQUEURS,305,73055,Rumchata,750,12.50,18.75,6,112.50,4.50,1.19,6.25,25.000000
5,2016-03-31,4988,CEDAR FALLS,50613,STRAIGHT BOURBON WHISKIES,260,17090,Bulleit Bourbon 10YR,750,23.00,34.50,1,34.50,0.75,0.20,11.50,46.000000
6,2016-03-31,3993,WATERLOO,50701,IMPORTED SCHNAPPS,421,69636,Dr. Mcgillicuddy's Cherry Schnapps,750,8.67,13.01,4,52.04,3.00,0.79,4.34,17.346667
7,2016-03-31,5029,DAVENPORT,52806,TEQUILA,410,88294,Patron Silver Tequila,375,14.00,21.00,12,252.00,4.50,1.19,7.00,56.000000
8,2016-03-31,5144,ANKENY,50021,AMERICAN GRAPE BRANDIES,259,52318,Christian Bros Brandy,1750,11.83,17.75,6,106.50,10.50,2.77,5.92,10.142857
9,2016-03-31,5029,DAVENPORT,52806,IMPORTED GRAPE BRANDIES,389,49185,Remy Martin Vsop (flask),375,10.66,15.99,12,191.88,4.50,1.19,5.33,42.640000
10,2016-03-31,5029,DAVENPORT,52806,TEQUILA,410,88296,Patron Tequila Silver,750,27.00,40.50,12,486.00,9.00,2.38,13.50,54.000000
11,2016-03-31,5029,DAVENPORT,52806,IMPORTED GRAPE BRANDIES,420,48105,Hennessy VS,375,9.99,14.99,12,179.88,4.50,1.19,5.00,39.973333
12,2016-03-31,5029,DAVENPORT,52806,IMPORTED GRAPE BRANDIES,389,49186,Remy Martin Vsop Cognac,750,21.98,32.97,12,395.64,9.00,2.38,10.99,43.960000
13,2016-03-31,5029,DAVENPORT,52806,CANADIAN WHISKIES,260,11298,Crown Royal Canadian Whisky,1750,31.99,47.99,6,287.94,10.50,2.77,16.00,27.422857
14,2016-03-31,5029,DAVENPORT,52806,SPICED RUM,260,43337,Captain Morgan Spiced Rum,1000,11.75,17.63,12,211.56,12.00,3.17,5.88,17.630000
15,2016-03-31,5029,DAVENPORT,52806,SPICED RUM,260,43244,Captain Morgan 100 Proof Spiced Rum,750,10.24,15.36,4,61.44,3.00,0.79,5.12,20.480000
16,2016-03-31,4447,URBANDALE,50322,VODKA 80 PROOF,300,36904,Mccormick Vodka Pet,375,1.80,2.70,24,64.80,9.00,2.38,0.90,7.200000
17,2016-03-31,5029,DAVENPORT,52806,MISC. IMPORTED CORDIALS & LIQUEURS,192,65256,Jagermeister Liqueur,750,12.05,18.08,12,216.96,9.00,2.38,6.03,24.106667
18,2016-03-31,5029,DAVENPORT,52806,TEQUILA,395,89196,Jose Cuervo Especial Reposado Tequila,750,10.49,15.74,12,188.88,9.00,2.38,5.25,20.986667
19,2016-03-31,5029,DAVENPORT,52806,STRAIGHT BOURBON WHISKIES,65,19066,Jim Beam,750,10.49,15.74,12,188.88,9.00,2.38,5.25,20.986667
20,2016-03-31,5029,DAVENPORT,52806,CANADIAN WHISKIES,260,10805,Crown Royal Regal Apple,375,7.75,11.63,24,279.12,9.00,2.38,3.88,31.013333
21,2016-03-31,5029,DAVENPORT,52806,BLENDED WHISKIES,297,23826,Five Star,750,3.46,5.19,12,62.28,9.00,2.38,1.73,6.920000
22,2016-03-31,5029,DAVENPORT,52806,CANADIAN WHISKIES,115,11774,Black Velvet,375,3.07,4.61,24,110.64,9.00,2.38,1.54,12.293333
23,2016-03-31,5034,MASON CITY,50401,CANADIAN WHISKIES,55,11936,Canadian Ltd Whisky Convenience Pack,750,3.84,6.01,12,72.12,9.00,2.38,2.17,8.013333
24,2016-03-31,5029,DAVENPORT,52806,CANADIAN WHISKIES,260,11297,Crown Royal Canadian Whisky,1000,18.75,28.13,12,337.56,12.00,3.17,9.38,28.130000
25,2016-03-31,5029,DAVENPORT,52806,IMPORTED VODKA - MISC,260,64511,Ciroc Apple,375,9.25,13.88,12,166.56,4.50,1.19,4.63,37.013333
26,2016-03-31,5029,DAVENPORT,52806,VODKA 80 PROOF,380,37346,Phillips Vodka,750,3.57,5.36,12,64.32,9.00,2.38,1.79,7.146667
27,2016-03-31,5029,DAVENPORT,52806,PEACH BRANDIES,115,56195,Paul Masson Peach Grande Amber Brandy,375,3.22,4.83,6,28.98,2.25,0.59,1.61,12.880000
28,2016-03-31,4802,DES MOINES,50310,CANADIAN WHISKIES,115,11788,Black Velvet,1750,10.45,15.68,6,94.08,10.50,2.77,5.23,8.960000
29,2016-03-31,5029,DAVENPORT,52806,AMERICAN GRAPE BRANDIES,205,52594,E & J Vs Brandy,375,3.49,5.24,24,125.76,9.00,2.38,1.75,13.973333
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2709522,2015-01-05,2527,DES MOINES,50315,MISC. AMERICAN CORDIALS & LIQUEURS,322,75213,Kinky Blue,375,5.00,7.50,12,90.00,4.50,1.19,2.50,20.000000
2709523,2015-01-05,3403,COLUMBUS JUNCTION,52738,SPICED RUM,260,43337,Captain Morgan Spiced Rum,1000,11.75,17.63,12,211.56,12.00,3.17,5.88,17.630000
2709524,2015-01-05,4267,ANITA,50020,COFFEE LIQUEURS,65,67556,Kamora Coffee Liqueur,750,6.30,9.45,2,18.90,1.50,0.40,3.15,12.600000
2709525,2015-01-05,4229,HARLAN,51537,VODKA 80 PROOF,434,36308,Hawkeye Vodka,1750,7.17,10.76,6,64.56,10.50,2.77,3.59,6.148571
2709526,2015-01-05,4794,BURLINGTON,52601,IMPORTED DRY GINS,35,28236,Bombay Sapphire Gin,750,11.64,18.46,1,18.46,0.75,0.20,6.82,24.613333
2709527,2015-01-05,2560,MARION,52302,CREAM LIQUEURS,260,68022,Bailey's Salted Caramel,750,13.25,19.88,6,119.28,4.50,1.19,6.63,26.506667
2709528,2015-01-05,2558,MOUNT PLEASANT,52641,IMPORTED SCHNAPPS,421,69611,Dr. Mcgillicuddy's Apple Pie Schnapps,750,8.32,12.48,12,149.76,9.00,2.38,4.16,16.640000
2709529,2015-01-05,2573,MUSCATINE,52761,VODKA FLAVORED,380,40244,Prairie Organic Cucumber,750,11.00,16.50,3,49.50,2.25,0.59,5.50,22.000000
2709530,2015-01-05,4188,HOLY CROSS,52053,AMERICAN GRAPE BRANDIES,85,52806,Korbel Brandy,750,5.70,8.55,12,102.60,9.00,2.38,2.85,11.400000
2709531,2015-01-05,2599,CORALVILLE,52241,AMERICAN COCKTAILS,395,58872,Jose Cuervo Authentic Light Margarita Lime,1750,8.20,12.30,6,73.80,10.50,2.77,4.10,7.028571
2709532,2015-01-05,3952,BETTENDORF,52722,IMPORTED VODKA - MISC,370,34029,Absolut Citron (lemon Vodka),1000,14.99,22.49,24,539.76,24.00,6.34,7.50,22.490000
2709533,2015-01-05,3631,AUDUBON,50025,VODKA 80 PROOF,260,37994,Smirnoff Vodka 80 Prf,375,4.75,7.13,2,14.26,0.75,0.20,2.38,19.013333
2709534,2015-01-05,3773,CEDAR RAPIDS,52401,TEQUILA,410,88296,Patron Tequila Silver,750,27.00,40.50,12,486.00,9.00,2.38,13.50,54.000000
2709535,2015-01-05,2643,WATERLOO,50701,AMERICAN GRAPE BRANDIES,259,52317,Christian Bros Brandy-Square,1000,7.11,10.67,3,32.01,3.00,0.79,3.56,10.670000
2709536,2015-01-05,2633,DES MOINES,50320,MISC. IMPORTED CORDIALS & LIQUEURS,260,66636,Romana Sambuca Italian Liquore,750,13.00,19.50,24,468.00,18.00,4.76,6.50,26.000000
2709537,2015-01-05,2648,WEST DES MOINES,50265,SINGLE BARREL BOURBON WHISKIES,65,19235,Knob Creek Single Barrel Reserve,750,24.67,37.01,6,222.06,4.50,1.19,12.34,49.346667
2709538,2015-01-05,2506,BURLINGTON,52601,CANADIAN WHISKIES,65,10628,Canadian Club Whisky,1750,15.75,23.63,6,141.78,10.50,2.77,7.88,13.502857
2709539,2015-01-05,4164,BETTENDORF,52722,TENNESSEE WHISKIES,85,86668,Jack Daniel's Tennessee Honey Mini,500,9.06,13.59,4,54.36,2.00,0.53,4.53,27.180000
2709540,2015-01-05,4972,MONONA,52159,VODKA FLAVORED,380,40625,UV Chocolate Cake,750,6.50,9.75,1,9.75,0.75,0.20,3.25,13.000000
2709541,2015-01-05,3525,WASHINGTON,52353,IMPORTED VODKA - MISC,260,64727,Ciroc Amaretto,750,19.00,28.50,1,28.50,0.75,0.20,9.50,38.000000
2709542,2015-01-05,4000,WOODBINE,51579,COFFEE LIQUEURS,370,67571,Kahlua Mocha Liqueur,750,10.99,16.49,1,16.49,0.75,0.20,5.50,21.986667
2709543,2015-01-05,2590,CEDAR RAPIDS,52402,VODKA 80 PROOF,297,35913,Five O'clock Vodka,200,1.13,1.70,4,6.80,0.80,0.21,0.57,8.500000
2709544,2015-01-05,3494,WATERLOO,50702,VODKA 80 PROOF,55,37938,Skol Vodka,1750,7.11,10.67,6,64.02,10.50,2.77,3.56,6.097143
2709545,2015-01-05,3907,MUSCATINE,52761,FLAVORED RUM,35,43136,Bacardi Limon,750,8.50,12.75,4,51.00,3.00,0.79,4.25,17.000000
2709546,2015-01-05,2448,INDIANOLA,50125,WHISKEY LIQUEUR,85,86887,Southern Comfort,1000,12.48,18.72,2,37.44,2.00,0.53,6.24,18.720000
2709547,2015-01-05,4696,WEST DES MOINES,50266,VODKA FLAVORED,205,40192,New Amsterdam Pineapple,375,3.50,5.25,6,31.50,2.25,0.59,1.75,14.000000
2709548,2015-01-05,2590,CEDAR RAPIDS,52402,SCOTCH WHISKIES,260,5346,Johnnie Walker Red,750,14.25,21.38,4,85.52,3.00,0.79,7.13,28.506667
2709549,2015-01-05,3631,AUDUBON,50025,PEACH SCHNAPPS,65,82847,Dekuyper Peachtree,1000,7.62,11.43,2,22.86,2.00,0.53,3.81,11.430000
2709550,2015-01-05,2517,NEWTON,50208,AMERICAN COCKTAILS,395,58868,Jose Cuervo Authentic Strawberry Margarita,1750,8.20,12.30,6,73.80,10.50,2.77,4.10,7.028571
2709551,2015-01-05,2643,WATERLOO,50701,SCOTCH WHISKIES,260,5329,Johnnie Walker Blue,750,130.00,195.00,1,195.00,0.75,0.20,65.00,260.000000

##### We'll need to make a new dataframe that indexes quantities by store:
###### sales per store for all of 2015, sales per store for Q1 2015, sales per store for Q1 2016, total volumes sold, mean transaction revenue, gross margin, price per bottle, price per liter, etc., average sales per day, number of days open

##### Make sure to retain other variables that we'll want to use to build our models, such as zip code, county number, city, etc. We recommend that you spend some time thinking about the model you may want to fit and computing enough of the suggested quantities to give you a few options.

In [24]:
# Sales per store, 2015

# Filter by our start and end dates
iowa.sort_values(by=["Store Number", "Date"], inplace=True)
start_date = pd.Timestamp("20150101")
end_date = pd.Timestamp("20151231")
mask = (iowa['Date'] >= start_date) & (iowa['Date'] <= end_date)
sales = iowa[mask]
sales.head()

,Date,Store Number,City,Zip Code,Category Name,Vendor Number,Item Number,Item Description,Bottle Volume (ml),State Bottle Cost,State Bottle Retail,Bottles Sold,Sale (Dollars),Volume Sold (Liters),Volume Sold (Gallons),Margins,Price/Liter
2663461,2015-01-08,2106,CEDAR FALLS,50613,CANADIAN WHISKIES,260,11296,Crown Royal,750,15.00,22.50,12,270.00,9.00,2.38,7.50,30.000000
2663468,2015-01-08,2106,CEDAR FALLS,50613,SINGLE MALT SCOTCH,420,5133,Glenmorangie 10 Yr Single Malt Scotch,750,22.99,34.49,1,34.49,0.75,0.20,11.50,45.986667
2663551,2015-01-08,2106,CEDAR FALLS,50613,CANADIAN WHISKIES,115,10550,Black Velvet Toasted Caramel,750,6.75,10.13,12,121.56,9.00,2.38,3.38,13.506667
2663731,2015-01-08,2106,CEDAR FALLS,50613,AMERICAN DRY GINS,55,29287,Barton Gin,1000,3.92,5.88,12,70.56,12.00,3.17,1.96,5.880000
2663758,2015-01-08,2106,CEDAR FALLS,50613,CANADIAN WHISKIES,260,10808,Crown Royal Regal Apple,1000,18.50,27.75,36,999.00,36.00,9.51,9.25,27.750000

In [19]:
sales.to_csv('iowasales.csv')

In [20]:
# Group by store name
sales = sales.groupby(by=["Store Number"], as_index=False)
# Compute sums, means
sales = sales.agg({"Sale (Dollars)": [np.sum, np.mean],
                   "Volume Sold (Liters)": [np.sum, np.mean],
                   "Margin": np.mean,
                   "Price per Liter": np.mean,
                   "Zip Code": lambda x: x.iloc[0], # just extract once, should be the same
                   "City": lambda x: x.iloc[0],
                   "County Number": lambda x: x.iloc[0]})
# Collapse the column indices
sales.columns = [' '.join(col).strip() for col in sales.columns.values]
# Rename columns

# Quick check
sales.head()

KeyError: 'County Number'

In [27]:
# Q1 sales, may want to also use aggregate as above to have more columns (means, etc.)

bystore = pd.DataFrame()
bystore_cols = ['Store Number','Zip Code','City','Total Sale 2015','Sales Q1 2015','Sales Q1 2016']
bystore['Store Number'] = sales['Store Number']
bystore['Zip Code'] = sales['Zip Code']
bystore['City'] = sales['City']
bystore['Total Sale 2015'] = np.sum(sales['Sale (Dollars)'] for num in sales['Store Number'] if sales['Date']>=start_date
                                   and sales['Date']<=end_date)
bystore['Sales Q1 2015'] = np.sum(sales['Sale (Dollars)'] for num in sales['Store Number'] if sales['Date']>=start_date
                                 and sales['Date']<="20150331")
bystore['Sales Q1 2016'] = np.sum(sales['Sale (Dollars)'] for num in sales['Store Number'] if sales['Date']>="20160101"
                                 and sales['Date']<="20160331")
bystore.head()

# Sales 2015  Q1

# Sales 2016 Q1

ValueError: The truth value of a Series is ambiguous. Use a.empty, a.bool(), a.item(), a.any() or a.all().